/* GOOGLEFONT1 */
h1 {
    font-family: 'Share Tech', sans-serif;
}

/* GOOGLEFONT2 */
h2, nav, footer {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    background-color: #0f172a;
    color: white;
}

header {
    background-color: #020617;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #1e293b;
}

main {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
}

/* FONTAWESOME1 */
.fa-code {
    margin-right: 10px;
    color: #3b82f6;
}

/* FONTAWESOME2 */
.fa-house {
    margin-right: 8px;
    color: #fbbf24;
}

/* FONTAWESOME3 */
.fa-book {
    margin-right: 8px;
    color: #fbbf24;
}

/* FONTAWESOME4 */
.fa-file {
    margin-right: 8px;
    color: #fbbf24;
}
